/* ====== Import fonts ====== */

/* devanagari */
@font-face {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Palanquin-Regular.ttf) format('truetype');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Palanquin-Regular.ttf) format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Palanquin-Regular.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/Palanquin-Bold.ttf) format('truetype');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/Palanquin-Bold.ttf) format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/Palanquin-Bold.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/RacingSansOne-Regular.ttf) format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/RacingSansOne-Regular.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(fonts/Rokkitt-Thin.ttf) format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(fonts/Rokkitt-Thin.ttf) format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(fonts/Rokkitt-Thin.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ====== Media queries ====== */

@media (max-width : 480px) {
    body {
        width: 100%;
    }
}

@media (min-width : 481px) and (max-width : 780px) {
    body {
        width: 98%;
    }
}

@media (min-width : 781px) and (max-width : 1223px) {
    body {
        width: 65%;
    }

}

/* Desktops and laptops */
@media (min-width : 1224px) {
    body {
        width: 50%;
    }

}

/* Large screens */
@media (min-width : 1824px) {
    body {
        max-width: 30em;
    }

}

/* ====== Basic settings ====== */

html {
    font-size: 72.5%;
}

body {
    font-family: Planquin, sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    padding-bottom: 4rem;
}

h1 {
    font-family: 'Racing Sans One', sans-serif;
    font-size: 4rem;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

h2 {
    font-family: Rokkitt, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

button {
    background-color: rgb(245, 245, 245);
    border: none;
    font-family: 'Racing Sans One', sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
}


/* ====== Specific settings ====== */
#streakList {
    width: 100%;
    max-width: 50rem;
}

@media (max-width : 580px) {
    .streakTitle {
        font-family: Rokkitt, sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1rem;
        flex-grow: 1;
        text-align: left;
    }
}

@media (min-width : 581px) {
    .streakTitle {
        font-family: Rokkitt, sans-serif;
        font-size: 1.8rem;
        font-weight: 500;
        margin: 1rem;
        flex-grow: 1;
        text-align: left;
    }
}

.streakDate {
    text-align: left;
}
.streakRow {
    cursor: pointer;
}
.streakDuration {
    margin: 1rem 0.2rem 1rem 2rem;
}

#streakFormRow {
    margin: auto;
    max-width: 50rem;
}

#formAddTS {
    margin: 1em;
}

/* Design elements */
.rowIcon {
    height: 1.5rem;
    margin: auto;
}

.shadBoxOuter {
    border-radius: 2em;
    margin: auto;
    -webkit-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.15);
    padding: 0.1rem;
}

.shadBoxInner {
    border-radius: 1.8em;
    -webkit-box-shadow: inset 0 0 4px -2px rgb(0, 0, 0);
    box-shadow: inset 0 0 4px -2px rgb(0, 0, 0);
    flex-grow: 1;
    padding: 0.2rem;
}

.shadBoxBtn {
    width: fit-content;
}

.shadBoxBtn button {
    padding: 0.4rem 1.4rem;
}

.shadBoxMessage {
    margin: 1rem auto;
    font-family: Rokkitt, serif;
    font-style: italic;
    font-size: 1.8rem;
}

.iconInRow {
    height: 2.5rem;
    margin: auto 0.5rem;
}

.panel {
    max-height: fit-content;
    transition: max-height 0.5s ease-out;
}
.panelOff {
    max-height: 0;
    transition: max-height 0.5s ease-in;
}

.aniM {
    height: 8rem;
    margin: 0.5rem;
}

/* ====== Reusable classes ====== */

.dILBlock {
    display: inline-block;
}
.fontSize1 {
    font-size: 1rem;
}

.fontSize1p5 {
    font-size: 1.5rem;
}

.titleS {
    font-family: Rokkitt, serif;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1rem;
}
.colGrey {
    color: grey;
}

.colBlack {
    color: black;
}

.flx {
    display: flex;
    justify-content: flex-end;
}

.flxAlignCenter {
    align-items: center;
}

.flxGrow {
    flex-grow: 1;
}

.flxAlignBase {
    align-items: baseline;
}
.noClick {
    pointer-events: none;
}
.ma {
    margin: auto;
}

.m05 {
    margin: 0.5rem;
}
.mr1 {
    margin-right: 1rem;
}

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: 1rem;
}

.mt0 {
    margin-top: 0;
}

.mt05 {
    margin-top: 0.5rem;
}

.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.pa05 {
    padding: 0.5rem;
}

.width100 {
    width: 100%;
}
